doctype html
html
  head
    title Editar Tarea
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css")
  body
    .container
      h1 Editar Tarea
      form(action=`/api/tareas/editar/${tarea._id}` method="POST")
        .mb-3
          label(for="tarea") Tarea
          input(type="text" name="tarea" id="tarea" class="form-control" value=tarea.tarea required)

        .mb-3
          label(for="usuario") Responsable
          input(type="text" name="usuario" id="usuario" class="form-control" value=tarea.usuario required)

        .mb-3
          label(for="area") Área
          select(name="area" id="area" class="form-control" required)
            option(value="Compras" selected=tarea.area === 'Compras') Compras
            option(value="Ventas" selected=tarea.area === 'Ventas') Ventas
            option(value="Producción" selected=tarea.area === 'Producción') Producción
            option(value="Inventario" selected=tarea.area === 'Inventario') Inventario

        .mb-3
          label(for="estado") Estado
          select(name="estado" id="estado" class="form-control" required)
            option(value="Pendiente" selected=tarea.estado === 'Pendiente') Pendiente
            option(value="En progreso" selected=tarea.estado === 'En progreso') En progreso
            option(value="Completada" selected=tarea.estado === 'Completada') Completada

        .mb-3
          label(for="prioridad") Prioridad
          select(name="prioridad" id="prioridad" class="form-control" required)
            option(value="Baja" selected=tarea.prioridad === 'Baja') Baja
            option(value="Media" selected=tarea.prioridad === 'Media') Media
            option(value="Alta" selected=tarea.prioridad === 'Alta') Alta

        .mb-3
          label(for="fechaVencimiento") Fecha de Vencimiento
          input(type="date" name="fechaVencimiento" id="fechaVencimiento" class="form-control" value=tarea.fechaVencimiento.toISOString().substring(0, 10) required)

        button(type="submit" class="btn btn-primary") Actualizar Tarea
      a.btn.btn-secondary.mt-4(href="/tareas/ver") Volver a la lista de tareas
